<ul id="post-list">
    {% for post in (site.posts | sort:date) limit:10 %}
        <li>
        	<div>
            	<aside class="dates"  style="color:#aaa;">{{ post.date | date:"%Y/%m/%d" }}</aside>
            	<a href="{{ site.baseurl   }}{{ post.url | remove_first: '/' }}" class="post-list-titke">{{ post.title }}</a>
        	</div>
        	<aside class="dates" style="color:#aaa;">{{ post.tags | join: ", " }}</aside>

        	<h2>{{ post.description }}</h2>

        </li>
    {% endfor %}
</ul>