<nav class="device-lg main-nav">
    {% if page.url != "/" %}
        <a href="{{site.baseurl}}/"> <span class="arrow">←</span> Home </a>
    {% endif %}
	<a href="{{site.baseurl}}/be-hungry-for-learning">Be Hungry For Learning</a>
	<!-- <a href="{{site.baseurl}}/agile-johnny">Agile Johnny</a> -->

    <!-- <a href="{{site.baseurl}}/about">About </a> -->
    <a href="{{site.baseurl}}/contact">Contact </a>
</nav>

    <ul id="mobile-menu" class="device-sm">
    	    
   	{% if page.url != "/" %}
        <li><a href="{{site.baseurl}}/"> <span class="arrow">←</span> Home </a></li>
    {% endif %}
		<li><a href="{{site.baseurl}}/be-hungry-for-learning">Be Hungry For Learning</a></li>
		<!-- <li><a href="{{site.baseurl}}/agile-johnny">Agile Johnny</a></li> -->

   		<!-- <li><a href="{{site.baseurl}}/about">About </a></li> -->
    	<li><a href="{{site.baseurl}}/contact">Contact </a></li>
    </ul>
