<style>

#ins:before {
    content:"\f16d"
}
#tw:before {
    content:"\f081"
}
#lkndn:before {
    content:"\f08c"
}
</style>    
<div class="profile">
    <section id="wrapper">
        <header id="header">
        {% if site.aboutPage %}
            <a href="{{ "/" | relative_url  }}about">
                <img id="avatar" class="2x" src="{{ "/" | relative_url  }}assets/images/avatar.jpg"/>
            </a>
        {% else %}
            <img id="avatar" class="2x" src="{{ "/" | relative_url  }}assets/images/avatar.jpg"/>
        {% endif %}
            <h1>{{ site.author }}</h1>
            <h2>{{ site.description }}</h2>
            <div style="margin-top: 30px;">
            	 <p style="font-size: 0.9rem;">“Hep denedin, hep yenildin. <br />Olsun ! <br /> Yine dene, yine yenil. <br /> Daha iyi yenil !”<br/>

~ Samuel Beckett ~ </p>

            </div>
            <div id="personal-links">
                <a href="https://twitter.com/{{site.personal_links.twitter}}" target="_blank" rel="no-follow">
                    <i class="fa" id="tw"></i>
                </a>
                <a href="https://instagram.com/{{site.personal_links.instagram}}" target="_blank" rel="no-follow">
                    <i class="fa"  id="ins"></i>
                </a>
                <a href="https://github.com/{{site.personal_links.github}}" target="_blank" rel="no-follow" >
                    <i class="fa fa-github-square"></i>
                </a>
                <a href="https://www.linkedin.com/in/{{site.personal_links.linkedin}}" target="_blank" rel="no-follow">
                    <i class="fa " id="lkndn"></i> 
                </a>
                <a href="https://www.last.fm/user/dinosaur-act" style="margin-right: 0" target="_blank" rel="no-follow">
                    <i class="fa fa-lastfm-square"></i>
                </a>
            </div>
        </header>
    </section>
</div>