#personal-links {
	margin-top: 40px;
	font-size: 1.5rem	
}

#personal-links span{
	font-size:0.9rem;
}
#personal-links a{
	color:#888;
	margin-right: 15px;
}

#post-list ul {
  list-style: none;
   list-style-type: none;
}
#post-list .post-list-date {
	float:right;
}
#category-list {
	max-width: 600px;
	margin:0 auto;
}

#post-list .post-list-title {
	float:left;
}

#post-meta .dark {
	color: #999;
	font-weight: 500;
}

#sharing {
	margin-top:20px;
}
#wrapper {
	max-width: 800px;
}
#wrapper.home {
	max-width: 600px;

}

#post-list h2 {
	max-width:100%;
}
#post-list, #archive-list
{
	margin-top: 40px;
}

form input, form textarea {
	padding:10px;
	width: 100%;
	margin:10px;
	border: 1px solid #ddd;
	color:#666;
	font-size: 0.875rem;
	font:0.9rem "Helvetica Neue", Helvetica, Arial, sans-serif;
}

form button {
	min-width: 1.625rem;
	display: inline-block;
	font-weight: 300;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid #2f66b3;
	letter-spacing: .03em;
	padding: 0.25rem 0.5rem;
	font-size: 0.75rem;
	line-height: 1.33333333;
	color: #fff;
	background-color: #316cbe;
	border-radius: 3px;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

form button:hover {
	color: #fff;
	background-color: #316cbe;
	border-color: #2f66b3;
}

#personal-links * {
	display:inline-block;
}

.nav_categories {
	text-transform: capitalize;
}

.slicknav_menu {
	display:none;
}

.slicknav_menu {
	display:none;
}

.slicknav_menu {
	background-color: #F6F9F9;
}
.slicknav_menu a {
	color: #5694f1;
	text-align:right;
}
.device-sm {
	display: none;
}
@media screen and (max-width: 40em) {

	.device-lg {
		display: none;
	}
	#mobile-menu {
		display:none;
	}
	
	.slicknav_menu {
		display: block;
	}

.device-sm {
	display: block;
}
}

